.container {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    3deg,
    #678983 49%,
    #678983 50%,
    rgba(255, 255, 255, 0.1) 51%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

h1 {
  color: #000;
}
