<app-alert *ngIf="showAlert" [color]="alertColor">
  {{ alertMsg }}
</app-alert>

<form (submit)="onSubmit(form)" #form="ngForm">
  <!-- Email -->
  <div class="form-control">
    <input name="email" #email="ngModel" ngModel type="email" class="" required placeholder="이메일" />
    <small *ngIf="email.errors && email.touched && email.dirty">이메일을 입력하세요</small>
  </div>
  <!-- Password -->
  <div class="form-control">
    <input name="password" #password="ngModel" ngModel type="password" class="" required placeholder="비밀번호" />
    <small *ngIf="password.errors && password.touched &&password.dirty">비밀번호를 입력하세요</small>
  </div>
  <button type="submit" class="btn-submit" [disabled]="form.invalid || isSubmission">
    로그인
  </button>
</form>