

<table class="table-auto w-full mt-36 mx-auto">
  <thead>
    <tr>
      <th></th>
      <th>경차/소형</th>
      <th>준중형/중형</th>
      <th>대형/소형 SUV</th>
      <th>특대형/중형 SUV</th>
      <th>대형 SUV</th>
      <th>VAN</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Basic</td>
      <td class="text-right">17</td>
      <td class="text-right">22</td>
      <td class="text-right">28</td>
      <td class="text-right">33</td>
      <td class="text-right">38</td>
      <td class="text-right">44</td>
    </tr>
    <tr>
      <td>Premium</td>
      <td class="text-right">17</td>
      <td class="text-right">22</td>
      <td class="text-right">28</td>
      <td class="text-right">33</td>
      <td class="text-right">38</td>
      <td class="text-right">44</td>
    </tr>
    <tr>
      <td>Special</td>
      <td class="text-right">17</td>
      <td class="text-right">22</td>
      <td class="text-right">28</td>
      <td class="text-right">33</td>
      <td class="text-right">38</td>
      <td class="text-right">44</td>
    </tr>
  </tbody>
</table>
