<header id="header" class="bg-secondary">
  <nav class="container mx-auto flex justify-start items-center py-8 px-4">
    <!-- App Name -->
    <a class="text-3xl text-indigo-400 font-bold uppercase mr-4" routerLink="/" routerLinkActive="text-indigo-400"
      [routerLinkActiveOptions]="{exact: true}">VIP CAR</a>

    <div class="flex flex-grow items-center">
      <!-- Primary Navigation -->
      <ul class="flex flex-row mt-1">
        <!-- Navigation Links -->
        <li *ngIf="!(authService.isAuthenticated$ | async) ; else loggedInMenu">
          <a class="px-2" (click)="openModal($event)">관리자</a>
        </li>

        <ng-template #loggedInMenu>
          <li>
            <a class="px-2" routerLink="/manage" routerLinkActive="text-indigo-400"
              [routerLinkActiveOptions]="{exact: true}" [queryParams]="{sort:'1'}">작업사진관리</a>
          </li>
          <li>
            <a class="px-2" routerLink="/upload" routerLinkActive="text-indigo-400">작업사진 올리기</a>
          </li>
          <li>
            <a class="px-2" (click)="onLogout()">로그아웃</a>
          </li>
          <li>
            <a class="px-2" routerLink="/about" routerLinkActive="text-indigo-400"
              [routerLinkActiveOptions]="{exact: true}">알아보기</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </nav>
</header>