<input [formControl]="control" [type]="type"
  class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
  [placeholder]="placeholder" [mask]="format" [dropSpecialCharacters]="true" />
<ng-container *ngIf="control?.touched && control?.dirty">
  <p *ngIf="control?.errors?.['minlength']" class="text-red-400">최소 글자수:
    {{control?.errors?.['minlength'].actualLength}} /
    {{control?.errors?.['minlength'].requiredLength}} </p>
  <p *ngIf="control?.errors?.['email']" class="text-red-400">이메일 형식에 맞지 않습니다</p>
</ng-container>